<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Gerenciar Dirigentes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Gerenciar Dirigentes</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6">
        <ng-container *ngIf="!loading; else loadingTpl">
          <ion-list>
          <ion-item lines="full">
            <ion-label>
              <h3>Lista de Dirigentes</h3>
              <p>Total: {{ persons.length }}</p>
            </ion-label>
            <ion-button fill="clear" slot="end" (click)="newPerson()" aria-label="Adicionar pessoa">
              <ion-icon [icon]="add"></ion-icon>
            </ion-button>
          </ion-item>

          <ion-item *ngFor="let p of persons">
            <ion-label>
              <h3>{{ p.name }}</h3>
            </ion-label>
            <ion-button slot="end" size="small" (click)="selectToEdit(p)" aria-label="Editar {{p.name}}">
              <ion-icon [icon]="pencil"></ion-icon>
            </ion-button>
            <ion-button slot="end" color="danger" size="small" (click)="deletePerson(p)" aria-label="Remover {{p.name}}">
              <ion-icon [icon]="trash"></ion-icon>
            </ion-button>
          </ion-item>

          <ion-item *ngIf="!persons.length">
            <ion-label>Nenhuma pessoa cadastrada</ion-label>
          </ion-item>
          </ion-list>
        </ng-container>

        <ng-template #loadingTpl>
          <div class="spinner-wrap">
            <ion-spinner name="crescent"></ion-spinner>
          </div>
        </ng-template>
      </ion-col>

      <ion-col size="12" size-md="6">
        <form (ngSubmit)="save()">
          <ion-item>
            <ion-label position="stacked">Nome <span aria-hidden="true">*</span></ion-label>
            <ion-input [(ngModel)]="form.name" name="name" required aria-required="true" maxlength="100"></ion-input>
          </ion-item>

          <ion-row class="ion-padding-top">
            <ion-col>
              <ion-button expand="block" type="submit">{{ isEditing ? 'Atualizar' : 'Criar' }}</ion-button>
            </ion-col>
            <ion-col>
              <ion-button expand="block" fill="outline" type="button" (click)="resetForm()">Limpar</ion-button>
            </ion-col>
          </ion-row>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
