ion-card {
  margin-bottom: 16px;
}

ion-grid {
  margin-top: 16px;
}

ion-button {
  margin-right: 8px;
}

.text-center {
  display: block;
  text-align: center;
  font-size: 1.2rem; /* Adjust font size as needed */
  margin: 0 auto;
}